.u-section-1 .u-sheet-1 {
  min-height: 529px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 21px 103px 0;
}

.u-section-1 .u-image-1 {
  width: 382px;
  height: 320px;
  margin: 39px auto 0 97px;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-size: 3rem;
  font-weight: 700;
  margin: -321px auto 0 97px;
  padding: 122px 62px 124px 61px;
}

.u-section-1 .u-image-2 {
  width: 530px;
  height: 320px;
  margin: -320px auto 0 513px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  letter-spacing: 0px;
  background-image: none;
  font-size: 3rem;
  font-weight: 700;
  margin: -320px 97px 60px auto;
  padding: 122px 78px 122px 77px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 3px;
    margin-left: 3px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 49px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 410px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 362px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 190px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 142px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 92px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 285px;
    margin-top: 5px;
    margin-left: -39px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -286px;
    margin-left: -39px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 205px;
    margin-left: -39px;
  }

  .u-section-1 .u-btn-2 {
    margin: -205px -39px 0;
  }
}